.menuItem{
    -fx-font: 10pt 'Verdana';
    -fx-underline: false;
}
.menuItem :hover{
    -fx-underline: true;
}

.active{
    -fx-font-weight: bold;    
}
.order{
    
    -fx-border-color: #AAA;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
}

.h1{
    -fx-font: bold 14pt 'Verdana';
    -fx-underline: false;
}