@font-face {
    src: url('CaviarDreams.ttf');
}
@font-face {
    src: url('CaviarDreams_Bold.ttf');
}
.menuItem{
    -fx-font: 10pt 'Verdana';
    -fx-underline: false;
}
.menuItem :hover{
    -fx-underline: true;
}

.active{
    -fx-font-weight: bold;    
}
.order{
    
    -fx-border-color: #AAA;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
}

.h1{
    -fx-font-family: "Caviar Dreams";
    -fx-font-size: 20pt; 
    -fx-font-weight: bold;
    -fx-underline: false;
}

.h2{
    -fx-font-family: "Caviar Dreams";
    -fx-font-size: 14pt; 
    -fx-font-weight: bold;
    -fx-underline: false;
}

.menu_font{
    -fx-font-family: "Caviar Dreams";
    -fx-font-size: 12pt; 
    -fx-font-weight: bold;
    -fx-underline: false;
}

.default_button{
    -fx-font-family: "Caviar Dreams";
    -fx-font-size: 12pt; 
    -fx-font-weight: bold;
    -fx-underline: false; 
}